configuration {
  location:  0;
  fixed-num-lines:  true;
  show-icons:  false;
  sidebar-mode:  true;
  scroll-method:  1;
  window-format:  "[{w}] ··· {c} ···   {t}";
  click-to-exit:  true;
  combi-hide-mode-prefix:  false;
}


window {
  border:  3px;
  border-color:  #8ba4b0;
  border-radius:  0px;
  width:              300px;
  height:             0px;
  background-color:   #090e13cc;
}

prompt {
  spacing:  0;
  background-color:             	transparent;
  text-color:  #8ba4b0;
  padding:     6px 10px 6px 10px;
  background-color: transparent;
  font:             "Iosevka NFM 22";
}

// FIXME white line
textbox-prompt-colon {
  expand:     false;
  str:        "";
  padding:    0px;
  text-color: inherit;
}

entry {
  expand:            true;
  text-color:        #c5c9c7;
  padding:           6px 2px 6px 2px;
  background-color: transparent;
  font:             "Iosevka NFM 22";
}

inputbar {
  children:  [ prompt,textbox-prompt-colon,entry ];
  background-color: transparent;
}

mainbox {
  spacing:  6px;
  padding:  10px;
  background-color: transparent;
}

listview {
  lines: 5;
  columns: 1;
  fixed-height:  0;
  scrollbar:  false;
  padding:  4px 0px 0px;
  background-color: transparent;
}

element-text, element-icon {
  background-color: inherit;
  text-color:       inherit;
  font:             "Iosevka NFM 22";
}

element {
}
element selected.normal {
  background-color:  #8ba4b0;
  text-color:        #090E13;
}

textbox,
element normal.active,
element normal.normal,
element selected.active,
element alternate.normal,
element alternate.active {
  background-color:  transparent;
  text-color:        #8ba4b0;
}

button {
  margin:  5px 0px 0px 0px;
  horizontal-align:               0.5;
  vertical-align:                 0.5;
  padding:  6px;
  text-color:  #8ba4b0;
}

button selected {
  background-color:             	#8ba4b0;
  text-color:  #090E13;
  border:  0px;
  border-radius:  0px;
  border-color:  #8ba4b0;
}

scrollbar,
message {
  display: none;
}

