configuration {
    location: 						0;
    fixed-num-lines: 				true;
    show-icons: 					false;
    sidebar-mode: 					true;
    scroll-method: 					1;
    window-format: 					"[{w}] ··· {c} ···   {t}";
    click-to-exit: 					true;
    combi-hide-mode-prefix: 		false;
    display-window: 				"";
    display-windowcd: 				"";
    display-run: 					"";
    display-ssh: 					"";
    display-drun: 					"";
    display-combi: 					"";
}

* {
    font:             "Iosevka 10";
    // background-color: #000000cc;
}

window {
  border: 						1px;
  border-color: 			#ffffff;
  border-radius: 			0px;
  width: 							300px;
  height: 						0px;
  background-color: transparent;
}

prompt {
    spacing: 						0;
    border: 						1px;
    border-color:                	#ffffff;
    background-color:             	#000000;
    text-color: 					#ffffff;
  padding:    					6px 10px 6px 10px;
  background-color: transparent;
}

textbox-prompt-colon {
  expand: 						false;
  str: 							"";
  padding:    					6px 4px 6px 4px;
  text-color: 					inherit;
}

entry {
  spacing:           0;
  expand:            true;
  horizontal-align:  0;
  text-color:        #ffffff;
  placeholder-color: #ffffff;
  placeholder:       "";
  padding:           6px 2px 6px 2px;
  border:            0px 0px 1px 0px;
  border-color:      #ffffff;
  border-radius:     0px;
  background-color: transparent;
}

case-indicator {
    spacing:    					0;
    text-color: 					#ffffff;
}

inputbar {
    spacing:    					0px;
    text-color: 					#ffffff;
    border: 						0px;
    border-color: 					#ffffff;
    border-radius: 					0px;
    children: 						[ prompt,textbox-prompt-colon,entry ];
  background-color: transparent;
}

mainbox {
    border: 						0px;
    border-color: 					#ffffff;
    spacing: 						6px;
    padding: 						10px;
  background-color: #000000cc;
}

listview {
    lines:							5;
    columns:						1;
    fixed-height: 					0;
    border: 						0px;
    border-color: 					#ffffff;
    spacing: 						2px;
    scrollbar: 						false;
    padding: 						4px 0px 0px;
  background-color: transparent;
}

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}

element {
    border: 						0px;
    padding: 						7px;
}
element normal.normal {
    background-color: 				#000000;
    text-color:       				#ffffff;
}
element normal.urgent {
    background-color: 				#000000;
    text-color:       				white;
}
element normal.active {
    background-color: 				#000000;
    text-color:       				white;
}
element selected.normal {
    background-color: 				#ffffff;
    text-color:       				#000000;
    border: 						0px;
    border-color: 					#ffffff;
}
element selected.urgent {
    background-color: 				#000000;
    text-color:       				white;
}
element selected.active {
    background-color: 				#000000;
    text-color:       				#ffffff;
}
element alternate.normal {
    background-color: 				#000000;
    text-color:       				#ffffff;
}
element alternate.urgent {
    background-color: 				#000000;
    text-color:       				#ffffff;
}
element alternate.active {
    background-color: 				#000000;
    text-color:       				#ffffff;
}

sidebar {
    border:       					0px;
    border-color: 					#ffffff;
    border-radius: 					0px;
}

button {
    margin: 						5px 0px 0px 0px;
    horizontal-align:               0.5;
    vertical-align:                 0.5;
    padding: 						7px;
    text-color: 					#ffffff;
    border: 						0px;
    border-radius: 					0px;
    border-color: 					#ffffff;
}

button selected {
    background-color:             	#ffffff;
    text-color: 					#000000;
    border: 						0px;
    border-radius: 					0px;
    border-color: 					#ffffff;
}

scrollbar {
  display: none;
}

message {
    border: 						0px;
    border-color: 					#ffffff;
    padding: 						1px;
  background-color: transparent;
}

textbox {
    text-color: 					#ffffff;
  background-color: transparent;
}
