// # z0mbi3 -  https://github.com/gh0stzk/dotfiles

configuration {
    modi:                "drun";
    show-icons:          true;
    drun-display-format: "{name}";
}

window {
    enabled:          true;
    fullscreen:       false;
    width:            80%;
    height:           65%;
    transparency:     "real";
    cursor:           "default";
    spacing:          0px;
    padding:          10px;
    border:           3px;
    border-radius:    0px;
    border-color:     #8ba4b0;
    background-color: #090e13cc;
}

mainbox {
    enabled:          true;
    children:         [ "inputbar", "listview" ];
    background-color: transparent;
}

inputbar {
    enabled:          true;
    spacing:          10px;
    border-color:     #c5c9c7;
    background-color: transparent;
    text-color:       #c5c9c7;
    children:         [ "entry", "prompt" ];
}

prompt {
    enabled:          true;
    padding:          15px 15px 15px 15px;
    border:           0px 0px 0px 1px;
    border-color:     #c5c9c7;
    background-color: transparent;
    text-color:       inherit;
}

textbox-prompt-colon {
    enabled:           true;
    expand:            false;
    str:               "::";
    background-color:  inherit;
    text-color:        inherit;
}

entry {
    enabled:           true;
    border-radius:     0px;
    padding:           15px;
    background-color:  transparent;
    text-color:        inherit;
    cursor:            text;
    placeholder-color: inherit;
}

listview {
    enabled:   true;
    columns:   10;
    lines:     4;
    spacing:   0px;
    padding:   0px 0px;
    cycle:     true;
    dynamic:   false;
    scrollbar: false;
    flow:      horizontal;
    reverse:   false;
    fixed-height:     true;
    fixed-columns:    true;
    cursor:           "default";
    background-color: transparent;
    text-color:       #c5c9c7;
}

element {
    enabled:          true;
    orientation:      vertical;
    spacing:          0px;
    padding:          0px 0px 10px 0px;
    cursor:           pointer;
    background-color: transparent;
    text-color:       #c5c9c7;
}

@media(max-aspect-ratio: 1.8) {
    element {
        orientation: vertical;
    }
}

element selected.normal {
    background-color: #c5c9c711;
    text-color:       #8ba4b0;
}

element-icon {
  	border-radius:	  0px;
    size:             180px;
    cursor:           inherit;
    background-color: transparent;
    text-color:       inherit;
    padding:          0px 0px 4px 0px;
}

element-text {
    vertical-align:   0.5;
    horizontal-align: 0.5;
    padding:          0px;
    cursor:           inherit;
    background-color: transparent;
    text-color:       inherit;
}
